@if (verFormulario){
<div class="register-container">
    <h2 class="text-center mb-4">Registro de Usuario</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" formControlName="apellido">
                @if (registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched) {
                <div class="invalid-feedback">Apellido requerido, mínimo 3 caracteres</div>
                }
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
                @if (registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched) {
                <div class="invalid-feedback">Nombre requerido, mínimo 3 caracteres</div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Documento</label>
                <input type="number" class="form-control" formControlName="documento">
                @if (registerForm.get('documento')?.invalid && registerForm.get('documento')?.touched) {
                <div class="invalid-feedback">Documento inválido, mínimo 8 digitos</div>
                }
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Teléfono</label>
                <input type="tel" class="form-control" formControlName="telefono">
                @if (registerForm.get('telefono')?.invalid && registerForm.get('telefono')?.touched) {
                <div class="invalid-feedback">Teléfono requerido, mínimo 6 caracteres</div>
                }
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Domicilio</label>
            <input type="text" class="form-control" formControlName="domicilio">
            @if (registerForm.get('domicilio')?.invalid && registerForm.get('domicilio')?.touched) {
            <div class="invalid-feedback">Domicilio requerido, mínimo 3 caracteres</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Provincia</label>
            <select class="form-select" formControlName="provincia" (change)="onProvinciaChange()">
                @for ( prov of provincias; track prov.id) {
                <option value="{{prov.id}}">{{prov.nombre}}</option>
                }
            </select>
            @if (registerForm.get('provincia')?.invalid && registerForm.get('provincia')?.touched) {
            <div class="invalid-feedback">Provincia requerida.</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Localidad</label>
            <select class="form-select" formControlName="localidad">
                @for ( loc of localidades; track loc.id) {
                <option value="{{loc.id}}">{{loc.nombre}}</option>
                }
            </select>
            @if (registerForm.get('localidad')?.invalid && registerForm.get('localidad')?.touched) {
            <div class="invalid-feedback">Localidad requerida. Primero debe seleccionar una provincia</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Rol</label>
            <select class="form-select" formControlName="rol">
                <option value="" selected disabled>Selecciona tu rol</option>
                <option value="estudiante">Estudiante</option>
                <option value="admin">Administrador</option>
            </select>
            @if (registerForm.get('rol')?.invalid && registerForm.get('rol')?.touched) {
            <div class="invalid-feedback">Rol requerido</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="nombre@ejemplo.com" formControlName="email">
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <div class="invalid-feedback">Email inválido</div>
            }
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
                @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                <div class="invalid-feedback">Campo requerido, mínimo 8 caracteres</div>
                }
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" formControlName="confirmPassword">
                @if (registerForm.errors?.['passwordMismatch'] &&
                (registerForm.get('password')?.dirty || registerForm.get('confirmPassword')?.touched)) {
                <div class="invalid-feedback">Las contraseñas no coinciden</div>
                }
            </div>
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="envData">

            @if (envData) {
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }

            Registrarse
        </button>

        <div class="text-center mt-3">
            <span class="text-muted">¿Ya tienes cuenta? </span>
            <a class="text-decoration-none" routerLink="/login">Iniciar Sesión</a>
        </div>
    </form>

    <!-- <pre>{{registerForm.value | json}}</pre> -->
</div>
}

<!-- Mensaje de Registro Exitoso -->
@if (verRegistroExitoso) {
<div class="position-absolute top-50 start-50 translate-middle text-center py-4">
    <div class="text-success mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-check-circle-fill success" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
    </div>
    <h3 class="text-success mb-3">¡Registro Exitoso!</h3>
    <p class="lead">Tu registro se ha completado correctamente.</p>

</div>
}