<!-- User Info -->
<div class="col-md-9 col-lg-10 container">
    <div class="user-info">
        <div class="row">
            <div class="col-md-8">
                <h2>Bienvenido, <span class="text-primary">{{nombreUser}}</span></h2>
                <p class="text-muted">{{rolUser}}</p>
            </div>
        </div>
    </div>


    <!-- Carreras Disponibles -->
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4"><i class="bi bi-journal-bookmark"></i> Carreras Disponibles</h3>
        </div>
    </div>

    <div class="row">
        @for (carrera of carreras; track carrera.id){
        <div class="col-lg-6">
            <div class="card career-card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="bi bi-laptop"></i>{{carrera.carNombre}}
                    </h5>
                </div>
                <div class="card-body">

                    <h6>Materias:</h6>

                    <div class="mb-3">
                        <div>
                            @for (uc of carrera.unidades_curriculares; track uc.id){
                            <span class="badge bg-success subject-badge">{{uc.ucNombre}}</span>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        }
    </div>
</div>